<% if @user.errors.any? %>
  <div id="error_explation">
    <div class="alert alert-danger">
      <%= t(".the_form_contains") %> 
      <%= pluralize(@user.errors.count, t(".error")) %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
